@using LucideBlazor
@using ShadcnBlazor.Emptys

<div class="m-10 flex items-center justify-center">
    <Empty>
        <EmptyHeader>
            <EmptyMedia Variant="EmptyMediaVariant.Icon">
                <BanIcon/>
            </EmptyMedia>
            <EmptyTitle>
                Permission denied
            </EmptyTitle>
            <EmptyDescription>
                You are not allowed to access this resource
            </EmptyDescription>
        </EmptyHeader>
    </Empty>
</div>