@using LucideBlazor
@using ShadcnBlazor.Emptys

<div class="h-screen w-full flex items-center justify-center">
    <Empty>
        <EmptyHeader>
            <EmptyMedia Variant="EmptyMediaVariant.Icon">
                <ScanFaceIcon/>
            </EmptyMedia>
            <EmptyTitle>
                Authenticating
            </EmptyTitle>
        </EmptyHeader>
    </Empty>
</div>