@using System.Net
@using LucideBlazor
@using Microsoft.AspNetCore.Components.Authorization
@using ShadcnBlazor.Emptys
@using WebAppTemplate.Frontend.UI.Components.Auth
@using WebAppTemplate.Frontend.UI.Partials
@using WebAppTemplate.Frontend.UI.Views

<ErrorBoundary>
    <ChildContent>
        <AuthorizeView>
            <ChildContent>
                <Router AppAssembly="@typeof(App).Assembly" NotFoundPage="typeof(NotFound)">
                    <Found Context="routeData">
                        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)">
                            <NotAuthorized Context="authRouteViewContext">
                                <AccessDenied/>
                            </NotAuthorized>
                        </AuthorizeRouteView>
                    </Found>
                </Router>
            </ChildContent>
            <Authorizing>
                <Authenticating/>
            </Authorizing>
            <NotAuthorized>
                @if (context.User.Identity?.IsAuthenticated ?? false)
                {
                    <AccessDenied/>
                }
                else
                {
                    <Authentication/>
                }
            </NotAuthorized>
        </AuthorizeView>
    </ChildContent>
    <ErrorContent>
        @if (context is HttpRequestException { StatusCode: HttpStatusCode.Unauthorized })
        {
            <Authentication/>
        }
        else
        {
            <div class="m-10">
                <Empty>
                    <EmptyHeader>
                        <EmptyMedia Variant="EmptyMediaVariant.Icon">
                            <OctagonAlertIcon ClassName="text-red-500/80"/>
                        </EmptyMedia>
                        <EmptyTitle>
                            Critical Application Error
                        </EmptyTitle>
                        <EmptyDescription>
                            @context.ToString()
                        </EmptyDescription>
                    </EmptyHeader>
                </Empty>
            </div>
        }
    </ErrorContent>
</ErrorBoundary>