@page "/users/{Id:int}"

@using LucideBlazor
@using ShadcnBlazor.Buttons
@using ShadcnBlazor.Cards
@using ShadcnBlazor.Extras.Common
@using ShadcnBlazor.Extras.Forms
@using ShadcnBlazor.Extras.Toasts
@using ShadcnBlazor.Fields
@using ShadcnBlazor.Inputs
@using WebAppTemplate.Frontend.Mappers
@using WebAppTemplate.Shared.Http.Requests.Users
@using WebAppTemplate.Shared.Http.Responses.Users

@inject HttpClient HttpClient
@inject NavigationManager Navigation
@inject ToastService ToastService

<LazyLoader Load="LoadAsync">
    <EnhancedEditForm Model="Request" OnValidSubmit="OnSubmitAsync" Context="formContext">

        <div class="flex flex-row justify-between">
            <div class="flex flex-col">
                <h1 class="text-xl font-semibold">Update user</h1>
                <div class="text-muted-foreground">
                    Update an existing user
                </div>
            </div>
            <div class="flex flex-row gap-x-1.5">
                <Button Variant="ButtonVariant.Secondary">
                    <Slot>
                        <a href="/users" @attributes="context">
                            <ChevronLeftIcon/>
                            Back
                        </a>
                    </Slot>
                </Button>
                <SubmitButton>
                    <CheckIcon/>
                    Continue
                </SubmitButton>
            </div>
        </div>

        <div class="mt-8">
            <Card>
                <CardContent>
                    <DataAnnotationsValidator/>

                    <FieldGroup>
                        <FormValidationSummary/>

                        <FieldSet>
                            <Field>
                                <FieldLabel for="email">Email</FieldLabel>
                                <TextInputField
                                    @bind-Value="Request.Email"
                                    id="email"
                                    Type="email"
                                    placeholder="m@example.com"/>
                            </Field>

                            <Field>
                                <FieldLabel for="username">Username</FieldLabel>
                                <TextInputField
                                    @bind-Value="Request.Username"
                                    id="username"
                                    Type="text"
                                    placeholder="example_user"/>
                            </Field>
                        </FieldSet>
                    </FieldGroup>
                </CardContent>
            </Card>
        </div>

    </EnhancedEditForm>
</LazyLoader>

@code
{
    [Parameter] public int Id { get; set; }

    private UpdateUserDto Request;
    private UserDto User;

    private async Task LoadAsync(LazyLoader _)
    {
        var user = await HttpClient.GetFromJsonAsync<UserDto>($"api/users/{Id}", Constants.SerializerOptions);
        User = user!;

        Request = UserMapper.ToUpdate(User);
    }

    private async Task<bool> OnSubmitAsync(EditContext context, ValidationMessageStore messageStore)
    {
        var response = await HttpClient.PatchAsJsonAsync(
            $"/api/users/{User.Id}",
            Request
        );

        if (!response.IsSuccessStatusCode)
        {
            
            
            return false;
        }

        await ToastService.SuccessAsync(
            "User update",
            $"Successfully updated user {Request.Username}"
        );

        Navigation.NavigateTo("/users");
        return true;
    }
}